header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
nav a {
  color: #fff;
  margin: 0 10px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.heading {
  text-align: center;
}
.p-tag {
  text-align: center;
}
.image {
  width: 200px;
  height: 200px;
  margin: auto;
}
.height {
  height: 98%;
}
a {
  cursor: pointer;
}
